@import url('../css/main.css');
@import url('../css/footer.css');
@import url('../css/header.css');

body {
    display: flex;
    justify-content: center;
    background-color: var(--grey);
    color: var(--white);
    overflow-x: hidden; 
    overflow-y: auto;
    display: flow-root;
}

h1 {
    color: var(--primary);
}

#basicInfo {
    width: 100%;
    width: 700px;
    margin: 180px auto 0 auto;
    font-size: large;
}


a{
    color: var(--primary);
}