@import url('../css/main.css');
@import url('../css/footer.css');
@import url('../css/header.css');

body {
    background-color: var(--grey);
    color: var(--white);
    overflow-x: hidden; 
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.landing-box{
    text-align: center;
    width: 100%;
    background-color: var(--grey);
    margin-top: 180px;
}
.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about{
    width:60%;
}
.team{
    margin-top:50px;
}
.team-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team-text{
    width:60%; 
}
.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.products-text-container{
    width:60%; 
}
a{
    color: var(--primary);
}

@media screen and (max-width: 460px) {
    .landing-box{
        text-align: center;
        width:100%;
    }
    .about-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
span{
    color: var(--primary);
}
.about{
    line-height: 1.5;
    font-size: larger;
}
.team{
    line-height: 1.5;
    font-size: large;
}
#about-us-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
#about-us-row{
    display: flex;
}
.about-us-card{
    background-color: white;
    color:black;
    float: left;
    width: 240px;
    min-height: 360px;
    margin-bottom: 16px;
    padding: 0 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.member-title{
    color:grey;
}
.member-button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}
.member-button:hover{
    background-color: #555;
}
.about-us-card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.member-img-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.about-us-description{
    margin-top: 30px;
}
.member-email{
    color:blue;
    text-decoration: underline;
}
.mike-email{
    font-size: smaller;
}
.member-describe{
    margin-top: 10px;;
}
.about-us-bottom{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap:30px;
    font-size: 1.5625rem;
}

#join-us{
    display: flex;
    flex-wrap: wrap;
}

#join-community{
    width: 900px;
    max-width: 90vw;
    margin: 0 auto;
    padding: 80px 0 0 0;
}
#join-container{
    width:50%;
    padding: 25px 50px;
    margin: 10px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 1px 1px 1px rgb(0 0 0 / 80%);
    cursor: default;
    transition: all 100ms ease-in-out;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid #363636;
    background-color: #242424;
    color:var(--white);
}
.discord-icon i{
    font-size: 70px;
    color:#bababa;
}
.join-title span{
    color:white;
    font-size: 20px;
    margin-top: 15px;
}
.join-description{
    margin-top: 30px;
    line-height: 24px;
    font-size:15px;
    flex-grow: 1;
}
.join-description p{
    /* text-decoration: underline; */
    margin-bottom: 10px;
}
.join-description p a{
    text-decoration: underline;
}
.join-description p a span{
    text-decoration: none;
    color: #bababa;
}

.products{
    margin-top: 30px;
    line-height: 1.5;
    font-size: larger;
}

@media screen and (max-width: 390px) {
    .landing-box {
        text-align: center;
        width: 386px;
        margin-top: 0px;
        margin-left: 0px;
    }
    .about {
        line-height: 1.5;
        font-size: larger;
        margin-top: 160px;
    }
    #about-us-row {
        display: flex;
        flex-direction: column;
    }
    #join-community {
        width: 390px;
        max-width: 90vw;
        margin: 0; 
        padding: 0;
        margin-left: -18px;
    }
    #join-container {
        width: 50%;
        padding: 25px 50px;
        margin: 0px;
        border-radius: 10px;
        box-shadow: 0 1px 1px 1px rgb(0 0 0 / 80%);
        cursor: default;
        transition: all 100ms ease-in-out;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        flex-grow: 1;
        border: 1px solid #363636;
        background-color: #242424;
        color: white;
    }
    #join-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* width: 386px; */
    }
} 
