@import url('../css/main.css');

#container{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: calc(100% - 240px);

}

#album-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    margin-left: 40px;
    max-width: 100vw;
}

#album-container h1{
    align-self: flex-start;
}


#album-container-bottom{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    
}

.month-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.month-container-header{
  color: var(--text-color-primary);

}


.album{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 275px;
    height: 275px;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    -webkit-border-radius: 20px;
    box-shadow: inset 0 1px 12px 1px rgba(0,0,0,0.3);

}

#album-page-title{
    margin-left: 40px;
    color: var(--text-color-primary);

}

#date-category{
  color: var(--text-color-primary);
  width: 100%;
  display: block;

}

#album-title{
    text-align: center;
    font-size: 1.5em;
    font-weight: 900;
    color: var(--text-color-primary);

}

.album-bottom{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.album-bottom p:first-child{
    background-color: gray;
    padding: 5px 15px 0px 15px;
    border-radius: 10px;
    color: var(--text-color-primary);

    
}

.album-bottom p:nth-child(2){
  color: var(--text-color-primary);

    font-size: 0.9em;
    padding-top: 10px;
    padding-left: 10px;
}


.overlay{
    position: fixed;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(6px);
    background-color: rgba(0,0,0,0.3);
    z-index: 2;
}

.modal-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
    width: 80vw;
    height: 80vh;
    position: relative;
    /* background-color: black; */
    z-index: 3;
}

.display-none{
    display: none;
}


/* carousel */

.modal-image{
    width: 100%;
    height: 80vh;
    border-radius: 15px;
}

  .nav-arrow {
    opacity: 0.5;
    position: absolute;
    background: #fff;
    height: 30px;
    width: 30px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    border-radius: 50%;
    z-index: 10;
    top: 50%;
    margin-top: -15px;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }
  .nav-arrow:hover {
    opacity: 1;
  }
  .nav-arrow:before,
  .nav-arrow:after {
    content: "";
    width: 2px;
    height: 10px;
    background: #000;
    position: absolute;
    left: 9px;
    top: 10px;
  }
  .nav-arrow:before {
    transform: rotate(50deg) translateY(-50%);
  }
  .nav-arrow:after {
    transform: rotate(-50deg) translateY(50%);
  }
  .nav-arrow.right {
    right: 20px;
    transform: rotate(180deg);
  }
  .nav-arrow.left {
    left: 20px;
  }

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 17px;
  width: 17px;
  margin: 0 2px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 15px;
}

.dotContainer{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.active, .dot:hover {
  background-color: white;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
} 
