@import url('../css/main.css');

#create-entry-container {
    display: flex;
    color: var(--text-color-secondary);
    padding: 30px;
    width: 100%;
    height: 100%;
}

#create-entry-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

#create-entry-header-text {
    color: var(--text-color-secondary);
    font-size: 17px;
}

#create-entry-title-input{
    color: var(--text-color-primary);
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    margin: 10px 0;
}

#create-entry-tag{
    background-color: var(--bg-secondary);
    width: fit-content;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    padding: 0 15px;
}

#create-entry-tag-input{
    background: transparent;
    color: var(--text-color-primary);
    border: none;
    outline: none;
    font-weight: 500;
}

#entry-tag-cont{
    background:transparent;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    /* padding: 0 15px; */
}

.entry-tag{
    background-color: var(--bg-secondary);
    width: fit-content;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    padding: 0 15px;
}

#create-entry-location{
    background-color: var(--bg-secondary);
    color: var(--text-color-primary);
    width: fit-content;
    height:35px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap:10px;
    padding: 0 15px;
}

#create-entry-location-input{
    background: transparent;
    color: var(--text-color-primary);
    border: none;
    outline: none;
    font-weight: 500;
}

#create-entry-weather{
    background-color: var(--bg-secondary);
    width: fit-content;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    padding: 0 15px;
}

#weather-select {
    border: none;
    outline: none;
    background: transparent;
    color: var(--text-color-primary);
    font-weight: 500;
}

#create-entry-text-content {
    color: var(--text-color-primary);
    height: 400px;
    border-radius: 10px;
    overflow: clip;
    margin-top: 10px;
}

#text-content-textarea {
    background-color: var(--bg-secondary);
    color: var(--text-color-primary);
    border: none;
    outline: none;
    padding: 15px;
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 13px;
    font-weight: 500;
}

#create-entry-bottom{
    display:flex;
    justify-content: space-between;
}

#create-entry-photo {
    width: 100px;
    height: 100px;
    /*border: 2px dashed var(--text-color-secondary);*/
    border-radius: 10px;
    text-align: center;
    background-color: var(--bg-secondary);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#create-entry-photo:hover {
    background-color: var(--file-upload-hover-bg);
    color: var(--file-upload-hover-text);
}

#create-entry-photo-label {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
    cursor: pointer;
}

#create-entry-submit input{
    width: 100px;
    height:30px;
    border-radius: 15px;
    background-color: #9673F5;
    color:white;
    border: 0px solid;
    font-size: 15px;
    font-weight: 800;
    margin-top:30px;
}