body{
    margin:0;
    padding:0;
    background: black;
}
.entry-box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20vh;
    padding:30px;
    width: 100%;
    height:100%;
}

.entry-box h1{
    position: absolute;
    top:-5px;
}

.form-container{
    box-shadow: 10px -6px 12px rgb(26, 22,22), -10px 6px 12px rgb(26, 22,22);
    padding: 40px;
}

.form-container div{
    margin-bottom: 15px;
}

.entry-title input{
    color:white;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.entry-writing input{
    color:white;
    background-color: #2f2f2f;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 400px;
    height:200px;
    border-radius: 7px;
}

.entry-submit input{
    width: 100px;
    height:30px;
    border-radius: 15px;
    background-color: #9673F5;
    color:white;
    border: 0px solid;
    font-size: 15px;
    font-weight: 800;
    margin-top:30px;
}

.entry-date input{
    background: transparent;
    color:white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.entry-date{
    background-color: #2f2f2f;
    width:180px;
    height:35px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap:10px;
}

.entry-location input{
    background: transparent;
    color:white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.entry-location{
    background-color: #2f2f2f;
    width:180px;
    height:35px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap:10px;
}

.entry-weather input{
    background: transparent;
    color:white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.entry-weather{
    background-color: #2f2f2f;
    width:180px;
    height:35px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap:10px;
}

.entry-bottom{
    display:flex;
    justify-content: space-between;
}

input[type="file"]{
    display: none;
}

.entry-photo{
    text-align: center;
}

.entry-photo p{
    font-size: 40px;
}

.entry-photo{
    width:100px;
    height:90px;
    border:3px dashed white;
    border-radius: 7px;
}