@import url('../css/main.css');
@import url('../css/footer.css');
@import url('../css/header.css');

.container {
    overflow-y: scroll;
    width: 100%;
    background-color: var(--grey);
}

.hero-section-container{
    height: 100vh;
    margin: 0 auto;
    max-width: 1500px;
    background-color: var(--grey);
}

.section-container{
    height: fit-content;
    margin: 0 auto;
    max-width: 1500px;
    background-color: var(--grey);
}

#landing-title{
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
    align-items: center;
    color: var(--white);
    text-align: center;
    padding-top: 150px;
    margin-bottom: 20px;
}

.journey-span {
    color:var(--primary);
    font-weight: 700;
}

.journey-sub {
    margin: 30px auto;
    font-size: 1.3rem;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--white);
    margin: 0 50px;
}

.text-container {
    margin: 20px 0;
    font-size: 20px;
    line-height: 1.5;
    width: 550px;
}

.text-person{
    margin-top: 16px;
    font-size: 17px;
    font-weight: 600;
}

 section{
    background-color: var(--grey);
 }


/* ---------- */
/* Second section: Meet Dear Diary */
/* ---------- */

.feature-container {
    line-height: 1.5;
    font-size: 20px;
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;   
    justify-content: center;

}

.split-feature-container{
    height: 350px;
    width: 550px;
    text-align: center;
}

.list-item{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}
.list-item-avatar img{
    height: 30px;
    min-width: 30px;
    width:30px;
    border-radius: 50%;
}


/* ======== */
/* ======== */
/* 3rd page */
/* ======== */
/* ======== */

.username, .password,
.note-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.journey-h1 {
    color: var(--white);
    font-size: 60px;
    text-align: center;
}
.journey-h2 {
    color: var(--white);
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.note-container p{
    margin-top: 40px;
    width:80%;
    font-size: 20px;
    line-height: 34px;
    color: var(--white);
    text-align: left;
} 
.note-container p b{
    color:var(--primary);
}
.note-container p span{
    text-decoration: underline;
}

.subfeature-boxes{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.subfeature{
    padding: 25px 50px;
    margin: 10px 20px 40px 20px;
    border-radius: 10px;
    background-color: #242424;
    box-shadow: 0 1px 1px 1px rgb(0 0 0 / 50%);
    border: 1px solid #363636;
    cursor: default;
    color:#bababa;
    transition: all 100ms ease-in-out;
    width:700px;
}

.subfeature-title{
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#dadada;
    line-height: 1.5;
}
.subfeature-title i{
    color:var(--primary);
}
.subfeature-description{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 14px 0;
    line-height: 29px;
}
.subfeature-description p{
    font-size: 18px;
}


/* ================= */
/* ================= */
/* self care section */
/* ================= */
/* ================= */

#smart-container{
    max-width: 800px;
    margin: auto;
    margin-top: 65px;
    padding: 12px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}
#smart-container-title{
    color:white;
    text-align: center;
}
#smart-container-title p{
    margin-top: 15px;
    line-height: 1.5;
}
.smart-card{
    margin-top: 15px;
    background-color: white;
    color:rgba(0,0,0,.87);
    border-radius: 24px;
    border-color: white;
    padding: 8px;
    line-height: 1.5;
}
.smart-card-row{
    display: flex;
    width:100%;
}
.smart-card-container{
    padding: 12px;
    width:50%;
}
.smart-first{
    border-right: 1px solid rgb(224, 224, 224);
}
.smart-card-title{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.50rem;
    font-weight: 700;
    letter-spacing: .0125em;
    line-height: 2rem;
    padding-bottom: 1rem;
    word-break: break-all;
}
.smart-text{
    padding:16px;
}
.smart-card-icon{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    line-height: 1.375rem;
    letter-spacing: .0071428571em;
    font-size:50px;
    font-weight: 400;
}
.smart-display i{
    /* margin-bottom: 20px; */
    color:orange;
}
.smart-icon-2{
    margin-top: 0px;
    color: var(--primary);
}
.smart-display{
    display: flex;
    gap:20px;
    color:rgba(0,0,0,.6);
}
.smart-icon i{
    margin-left: 20px;
}

.map-bg{
    /* background-image: url("./public/images/static/smart_map_background.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.smart-overline{
    text-align: center;
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: .1666666667em;
    line-height: 2rem;
    text-transform: uppercase;
    font-family: "Gotham Rounded SSm A","Gotham Rounded SSm B",Roboto,"Microsoft Yahei",sans-serif;
}

/* ============= */
/* ============= */
/* tweet section */
/* ============= */
/* ============= */

.twitter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}
.twitter-container h2, .twitter-container p{
    color: var(--white);
}
.twitter-container h2{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 0.5em;
}
.twitter-container p{
    margin: 0 0 1.5em;
    font-size: 17px;
}

.twitter-container p a{
    text-decoration: none;
    color: #1b95e0;
}

.tweets-container{
    display:flex;
    flex-wrap: wrap;
    gap:2em;
}
.twitter-block{
    background-color: var(--white);
    color:black;
    padding: 10px 20px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    min-height: 228px;
    width: 550px;
}
.tweet-column{
    display: flex;
    flex-direction: column;
}

.author-name {
    color:black;
    font-weight: 700;
    font-size: 18px;
    margin-right: 4px;
    width: 300px;
}
.twitter-profile .author-avatar img{
    width: 48px;
    height: 48px;
    float: left;
    overflow: hidden;
    border: none;
    border-radius: 25px;
    margin-right: 5px;
}

.twitter-profile, .author-screenname {

    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: gray;
}
.author-box {
    display: flex;
    justify-content: space-between;
    min-height: 55px;
    margin-top: 10px;
}

.author-container{
    display: flex;
    flex-direction: column;
    /* width: fit-content; */
}

.twitter-logo{
    font-size:25px;
    top: 0;
    right: 0;
    color: #1b95e0;
    line-height: 0;
}

.twitter-content{
    margin-top: 12px;
}
.twitter-content p{
    color:black;
}


@media screen and (max-width: 460px) {
    .section-container .content {
        padding-top: 90px;
    }
    header{
        display: flex;
        justify-content: space-between;
    }
    .text-container{
        line-height: 0.5;
    }
    .smart-text{
        display: none;
    }
}
/* ==================== */
/* get inspired section */
/* ==================== */

#get-inspired-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 200px; */
    color:white;
    width: 100%;
    height:100vh;
}
#get-inspired{
    font-size: 80px;
    margin-bottom: 2rem;
    clear: both;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 0.5em;
}
#inspired-inner-container p{
    margin: 0 0 1.5em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20px;
}
#inspired-inner-container a{
    color:var(--primary);
    margin-top: 100px;
}

@media screen and (max-width: 500px) {
    .text-container{
        line-height: 1.3;
    }
    .journey-h2 {
        color: var(--white);
        font-size: 40px;
        text-align: center;
        line-height: 1;
        text-transform: capitalize;
        margin-top: 55px;
        margin-bottom: 0px;
    }
    .landing-box {
        margin-top: 213px;
    }
    .feature-content {
        font-size: 20px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--white);
    }
    .feature-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 13px;
    }
    .jr-feature-container {
        width: 386px;
        margin-left: 0px;
        margin-top: -11px;
    }
    .jr-text-container {
        height: 350px;
        width: 88%;
        margin-left: 1px;
    }

    .tweets-container {
        display: flex;
        flex-wrap: wrap;
        gap: 0em;
        flex-direction: column;
    }
    .twitter-block {
        background-color: var(--white);
        color: black;
        padding: 10px 20px;
        /* margin: 10px 50px; */
        border: 1px solid #ccc;
        border-radius: 8px;
        min-height: 228px;
        max-width: 387px;
        margin-bottom: 10px;
    }
    .smart-text{
        display: none;
    }
    .smart-display i {
        margin-top: 2px;
        margin-left: -3px;
        margin-bottom: 5px;
        /* display: block; */
        color: orange;
    }
    .smart-display > p{
        margin-left: 27px;
        display: none;
        color: rgba(0,0,0,.6);
    }
    #get-inspired-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -200px;
        color: white;
        width: 100%;
        height: 100vh;
        margin-bottom: -185px;
    }
    .jr-text-container {
        height: 350px;
        width: 50%;
        margin-left: 21px;
    }
    
    .content-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: var(--white);
        margin: 0 6px;
        width: 386px;
    }

    .split-feature-container {
        height: 350px;
        width: 386px;
        text-align: center;
    }
    .subfeature {
        padding: 25px 50px;
        margin: 10px 20px 40px 20px;
        border-radius: 10px;
        background-color: #242424;
        box-shadow: 0 1px 1px 1px rgb(0 0 0 / 50%);
        border: 1px solid #363636;
        cursor: default;
        color: #bababa;
        transition: all 100ms ease-in-out;
        width: 390px;
    }
    .tweet-column {
        display: flex;
        flex-direction: column;
        gap: 0em;
    }
    #smart-container {
        max-width: 800px;
        margin: auto;
        margin-top: 10px;
        padding: 12px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-wrap: wrap;
    }
}


/* @media screen and (max-width: 1000px) {
    .journey-h2 {
        color: var(--white);
        font-size: 40px;
        text-align: center;
        margin-top: 178px;
    }
}

@media screen and (max-width: 1131px){
    .tweets-container{
        justify-content: center;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 768px){
    #smart-container-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
 /*

.empty-div{
    width: 100%;
    height:50px;
}
