@import url('../css/main.css');

* {
    font-family: Raleway;
}

.darkMode {
    appearance: none;
    width: 60px;
    height: 30px;
    background: white;

    border-radius: 12px;
    border: 2px solid #7F00FF;
}
.darkMode:checked {
    background: rgb(66, 66, 66);
}

.dark {
    color: white;
    background: rgb(66, 66, 66);
}

body{
    display: flex;
    justify-content: center;
    /*background: linear-gradient(45deg, #7F00FF,#000000);*/
}

/* LOG in  */
#header-text {
	color:#fff;	
	text-transform:uppercase;
    font-weight: bolder;
    font-size: 23px;
    margin: 0 0 30px 0;
    display: block;
    text-align: center;
}

.box{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
    background-color: #2f2f2f;
	border-radius: 15px;
	padding: 30px;
    min-width: 300px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container{
    width: 100%;
	position:relative;
	margin-bottom:25px;
}

.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
    /* pointer-event:none; */
	transition: all 0.5s ease-in-out;
}

.input-container input{ 
    border:0;
    border-bottom:1px solid #555;  
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:#fff;
}

.input-container input:focus{ 
    border:none;	
    outline:none;
    border-bottom:1px solid rgb(123, 0, 255);	
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
    top:-12px;
    font-size:11px;
    color: lightgrey;
}

#login-btn{
    width: 100%;
	color:#fff;
	background-color:#7F00FF;
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin: 20px 0 10px 0;
	border-radius:25px;
	cursor:pointer;
	position:relative;
}

#or-separator {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

.g_id_signin {
    display: flex;
    justify-content: center;
}

#form-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px 0 0 0;
}

#form-bottom > p {
    color: white;
}

#form-bottom > #sign-up-link{
    font-weight: 600;
    margin: 10px 20px;
    color: #7F00FF;
    text-decoration: none;
}
