@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* GLOBALS */
:root {
    /*-----COLORS-----*/
    --primary-light: #CDBCFC;
    --primary: #9673F5;
    --primary-dark: #7643FF;
    --white: #FFF;
    --black: #000;
    --grey-superdark: #161819;
    --grey-dark: #2F2F2F;
    --grey: #3B3D3E;
    --grey-light: #868686;
    --grey-mid-light: #dbdbdb;
    --grey-superlight: #F6F6F6;
    --border-radius-light: 10px;
    --border-radius-medium: 15px;
    --border-radius-pill: 50px;
    --border-radius-button: 25px;
}

body[data-theme='light'] {
    --bg-primary: var(--white);
    --bg-secondary: var(--grey-superlight);
    --text-color-primary: var(--black);
    --text-color-secondary: var(--grey-dark);
    --sidebar-logo-title: var(--primary);
    --sidebar-link: var(--grey-light);
    --theme-toggle-pill: var(--white);
    --tag-bg: var(--grey-superlight);
    --time-tag-bg: var(--grey-mid-light);
    --button-color: rgba(0,0,0,0.4);
    --album-color: rgba(200, 200, 200, 1);
}

body[data-theme='dark'] {
    --bg-primary: var(--grey-superdark);
    --bg-secondary: var(--grey-dark);
    --text-color-primary: var(--white);
    --text-color-secondary: var(--grey-superlight);
    --sidebar-logo-title: var(--white);
    --sidebar-link: var(--white);
    --theme-toggle-pill: var(--grey);
    --tag-bg: var(--grey-superlight);
    --time-tag-bg: var(--grey-superlight);
    --button-color: rgba(255,255,255,0.2);
    --album-color: rgba(0, 0, 0, 1);

}

@font-face {
    font-family: Galey;
    src: url("../fonts/Galey.ttf");
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Raleway;
}

/* Remove input hightlight in Chrome */
input:focus, textarea:focus, select:focus  {
    outline: none;
  }

a {
    text-decoration: none;
}

body{
    position: relative;
    height: 100vh;
    min-height:100vh;
    width:100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    background-color: var(--bg-primary);
}

.page-header-text {
    font-size: 18px;
    color: var(--grey);
}

/* --------------------------- */
/* SIDEBAR */
/* --------------------------- */
#sidebar-container{
    height: 100%;
    min-width:240px;
    background-color: var(--bg-secondary);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar-container #logo-container{
    width: 100%;
    color: var(--white);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#logo-container > #logo-img {
    width: 24px;
}

.logo-svg-box {
    fill: var(--bg-secondary);
}

#logo-container > #logo-title {
    font-size: 24px;
    font-weight: 700;
    font-family: Galey;
    padding-top: 4px;;
    color: var(--sidebar-logo-title);
}

#sidebar-container #btn{
    position:absolute;
    color: var(--white);
    left: 90%;
    top:10px;
    font-size: 20px;
    height: 50px;
    width:50px;
    text-align: center;
    line-height: 50px;
    transform:translateX(-50%);
}

#sidebar-container  #sidebar-navlinks{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#sidebar-container  #sidebar-navlinks > li{
    width: 100%;
    list-style: none;
    font-size: 18px;
    font-weight: 500;
}

#sidebar-container  #sidebar-navlinks > li > .sidebar-link {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: var(--sidebar-link);
    transition: color 0.25s;
}

#sidebar-container #sidebar-navlinks > li > .sidebar-link:hover {
    color: var(--primary);
}

#create-entry-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    background-color: var(--primary);
    width: 100%;
    border-radius: 50px;
    padding: 10px;
    font-weight: 600;
    transition: background-color 0.3s;
}

#logout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: var(--text-color-primary);
    background-color: var(--theme-toggle-pill);
    width: 100%;
    margin-bottom: 15px;
    border-radius: 50px;
    padding: 10px;
    font-weight: 600;
    transition: background-color 0.3s;
}

#create-entry-btn:hover {
    background-color: var(--primary-light);
}

#create-entry-btn:active {
    background-color: var(--primary-dark);
}

#sidebar-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#theme-toggle {
    display: flex;
    align-items: center;
}

#theme-toggle i {
    color: var(--primary);
}

#theme-toggle-input {
    visibility: hidden;
    width: 0;
}

#theme-toggle-pill {
    width: 84px;
    height: 40px;
    background-color: var(--theme-toggle-pill);
    padding: 8px;
    border-radius: 50px;
    margin: 0 10px;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

#theme-toggle-pill > #theme-toggle-inner {
    width: 24px;
    height: 24px;
    border-radius: 50px;
    background-color: var(--primary);
    transition: transform 0.3s;
}

.toggle-to-left {
    transform: translateX(-43px);
}

.toggle-to-right {
    transform: translateX(43px);
}

/* --------------------------- */
/* --------------------------- */

.landing-box{
    max-width: 900px;
    margin: 180px auto 50px auto;
    font-size: large;
    padding: 0 20px;
}

.title{
    font-size: 35px;
    padding: 20px;
    font-weight: 900;
    font-family:'Galey';
    text-transform: capitalize;
}

@media screen and (max-width: 730px) {
    #sidebar-container{
        height: 100%;
        min-width:240px;
        background-color: var(--bg-secondary);
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        left: -240px;
    }

}