:root {
    /*-----COLORS-----*/
    --light-primary: #FFF;
    --light-secondary: #FFF;
    --dark-primary: #000;
    --dark-secondary: #000;
    --grey-primary: #f2f2f2;
    --grey-light: #f2f2f2;
    --grey-dark: #f2f2f2;
}