@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /*-----COLORS-----*/
    --primary: #9673F5;
    --primary-light: #CDBCFC;
    --primary-dark: #7643FF;
    --white: #FFFFFF;
    --black: #000000;
    --grey-superdark: #161819;
    --grey-dark: #484848;
    --grey: #3B3D3E;
    --grey-light: #868686;
    --grey-superlight: #F6F6F6;
}

body[data-theme='light'] {
    --bg-primary: #FFFFFF;
    --bg-secondary: #F6F6F6;
    --text-color-primary: #000000;
    --text-color-secondary: #484848;
    --sidebar-logo-title: #9673F5;
    --sidebar-link: #868686;
    --theme-toggle-pill: #FFF;
    --tag-bg: #F6F6F6;
}

body[data-theme='dark'] {
    --bg-primary: #161819;
    --bg-secondary: #2F2F2F;
    --text-color-primary: #FFFFFF;
    --text-color-secondary: #F6F6F6;
    --sidebar-logo-title: #FFFFFF;
    --sidebar-link: #FFFFFF;
    --theme-toggle-pill: #3B3D3E;
    --tag-bg: #F6F6F6;
}

@font-face {
    font-family: Galey;
    src: url("../fonts/Galey.ttf");
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body{
    position: relative;
    height: 100vh;
    min-height:100vh;
    width:100%;
    overflow: hidden;
    display: flex;
    background-color: var(--bg-primary);
}

/* --------------------------- */
/* SIDEBAR */
/* --------------------------- */
#sidebar-container{
    height: 100%;
    min-width:240px;
    background-color: var(--bg-secondary);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar-container #logo-container{
    width: 100%;
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#logo-container > #logo-img {
    width: 24px;
}

.logo-svg-box {
    fill: var(--bg-secondary);
}

#logo-container > #logo-title {
    font-size: 24px;
    font-weight: 700;
    font-family: Galey;
    padding-top: 4px;;
    color: var(--sidebar-logo-title);
}

#sidebar-container #btn{
    position:absolute;
    color:white;
    left: 90%;
    top:10px;
    font-size: 20px;
    height: 50px;
    width:50px;
    text-align: center;
    line-height: 50px;
    transform:translateX(-50%);
}

#sidebar-container  #sidebar-navlinks{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#sidebar-container  #sidebar-navlinks > li{
    width: 100%;
    list-style: none;
    font-size: 18px;
    font-weight: 500;
}

#sidebar-container  #sidebar-navlinks > li > .sidebar-link {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: var(--sidebar-link);
    transition: color 0.25s;
}

#sidebar-container #sidebar-navlinks > li > .sidebar-link:hover {
    color: #9673F5;
}

#create-entry-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #9673F5;
    width: 100%;
    border-radius: 50px;
    padding: 10px;
    font-weight: 600;
    transition: background-color 0.3s;
}

#create-entry-btn:hover {
    background-color: var(--primary-light);
}

#create-entry-btn:active {
    background-color: var(--primary-dark);
}

#sidebar-bottom {
    display: flex;
    justify-content: center;
}

#theme-toggle {
    display: flex;
    align-items: center;
}

#theme-toggle i {
    color: #9673F5;
}

#theme-toggle-input {
    visibility: hidden;
    width: 0;
}

#theme-toggle-pill {
    width: 84px;
    height: 40px;
    background-color: var(--theme-toggle-pill);
    padding: 8px;
    border-radius: 50px;
    margin: 0 10px;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

#theme-toggle-pill > #theme-toggle-inner {
    width: 24px;
    height: 24px;
    border-radius: 50px;
    background-color: #9673F5;
    transition: transform 0.3s;
}

.toggle-to-left {
    transform: translateX(-43px);
}

.toggle-to-right {
    transform: translateX(43px);
}

/* --------------------------- */
/* --------------------------- */