@import url("../css/main.css");

#map-view-container {
	height: calc(100vh - 41px);
	width: 100%;
	padding: 20px;
	position: relative;
}

#map-view-map {
	height: 100%;
	width: 100%;
	border-radius: 10px;
	margin-top: 20px;
}

.map-view-entry-card {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 325px;
	background-color: var(--bg-secondary);
	padding: 20px;
	color: var(--text-color-secondary);
	z-index: 10;
	border-radius: 10px;
	/* display: flex;
    flex-direction: column; */
	gap: 10px;
	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
	visibility: hidden;
	opacity: 0.5;
	transform: translateX(20px);
}

.map-view-card-visible {
	visibility: visible;
	opacity: 1;
	transform: translateX(0);
	transition: visibility 0.3s, opacity 0.3s, transform 0.3s;
}

.map-view-entry-close {
	height: 30px;
	width: 30px;
	align-self: flex-end;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

/* SVG CLOSE X */
.close-svg-circle {
	fill: var(--text-color-secondary);
	stroke: var(--text-color-secondary);
	transition: fill 0.3s;
}

.close-svg-line {
	stroke: var(--bg-secondary);
	transition: stroke 0.3s;
}

.map-view-entry-close:hover > .close-svg-circle {
	fill: var(--bg-secondary);
}

.map-view-entry-close:hover > .close-svg-line {
	stroke: var(--text-color-secondary);
}




.map-view-entry-card-title {
	color: var(--text-color-primary);
	font-size: 20px;
	font-weight: 500;
	max-width: 240px;
	/*overflow: hidden;*/
	/*white-space: nowrap;*/
	/* text-overflow: ellipsis; */
}

.map-view-entry-card-textContent {
	color: var(--text-color-secondary);
	font-size: 13px;
	font-weight: 400;
	text-overflow: ellipsis;
}

.map-view-entry-card-textContent > p {
    color: var(--text-color-secondary);
	overflow: hidden;
	/* line-height: 2rem; */
	max-height: 8rem;
	-webkit-box-orient: vertical;
	display: block;
	display: -webkit-box;
	overflow: hidden !important;
	text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}

.map-view-entry-card-bottom {
	color: var(--text-color-primary);
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	font-weight: 500;
}

.map-view-entry-card-location,
.map-view-entry-card-date {
	width: 50%;
}

.map-view-entry-card-date {
	display: flex;
	justify-content: flex-end;
	gap: 5px;
}

.map-view-entry-card-link {
	display: inline-block;
	width: fit-content;
	color: var(--primary);
	font-weight: 600;
	font-size: 15px;
	align-self: flex-end;
	transition: color 0.3s;
}

.map-view-entry-card-link:hover {
	color: var(--primary-light);
}

.map-view-entry-card-link:active {
	color: var(--primary-dark);
}

/* GOOGLE */
.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after {
	background-color: var(--bg-secondary) !important;
}

#map-view-map div[role="dialog"] button[title="Close"] {
	margin: 0.6rem 0.6rem 0 0 !important;
	border-radius: var(--border-radius-pill) !important;
	background-color: var(--primary) !important;
}


#map-view-map div[role="dialog"] button[title="Close"] span {
	padding: 0.6rem !important;
	margin: 6px !important;
	/* height: 3px !important; */
	background-color: var(--text-color-primary) !important;
	/* -webkit-mask-image: url("https://freesvg.org/img/cybergedeon_warning_banana_skin.png") !important; */
	/* font-size: 30rem !important;  */
	/* width: 2rem !important; */
}

/* .close-svg-circle {
	fill: var(--text-color-secondary);
	stroke: var(--text-color-secondary);
	transition: fill 0.3s;
}

.close-svg-line {	
	stroke: var(--bg-secondary);
	transition: stroke 0.3s;
} */

#map-view-map div[role="dialog"] button[title="Close"]:hover {
	/* background-color: tomato; */
}

#map-view-map div[role="dialog"] button[title="Close"] span:hover {
	background-color: var(--text-color-secondary);
}