@import url('../css/main.css');

body{
    box-sizing: border-box;
    width: 100%;
    text-decoration:none;
    font-family:'Raleway';
}

.title{
    font-size: 35px;
    padding: 20px;
    font-weight: 900;
    font-family:'Galey';
}

.group{
    font-size: 25px;
    padding: 20px;
    font-weight: 900;
    font-family:'Galey';
    width: fit-content;
    background-color: var(--purple-secondary);
    margin-left: 20px;
    border-radius:var(--border-radius)
}

#timeline{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: calc(100% - 240px);
    overflow: scroll;
}

.entryMonths{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.month{
    padding: 15px;
    /* width: 100%; */
}

.monthName {
    font-family: 'Galey';
    font-weight: 700;
    font-size: 30px;
    margin: 10px;
}

.monthContainer{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap:wrap;
}

.monthContainer a{
    color: black;
    text-decoration: none;
}

.entryContainer{
    width: 450px;
    height: 200px;
    border: solid gray 1px;
    border-radius: 10px;
    /* background-color: #2f2f2f; */
    margin: 10px;
}

.entryTitle {
    font-size: 30px;
    margin: 8px;
    font-family:'Galey';
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.entryContent{
    margin: 8px;
    overflow:hidden;
    line-height: 1.2rem;
    max-height: 6rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    height: 6rem;
}

.entryInfo {
    display: flex;
    padding:5px;
    justify-content: space-between;
}

.entryTags{
    margin: 5px 8px;
    font-weight:700;
}

.entryDate{
    margin: 5px 8px;
    font-weight:700;
}

h3, h5 ,p{
    margin: 4px 10px;
    font-family: 'Galey';
}