@import url('../css/main.css');

body{

    box-sizing: border-box;
    width: 100%;
}

#timeline{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    /* justify-content: center; */
    width: calc(100% - 240px);
    overflow: scroll;
}

.monthContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.month{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%; */
    padding: 15px;
    /* box-sizing: border-box; */
}


.container{
    width: 400px;
    height: 200px;
    border: solid gray 1px;
    border-radius: 10px;
    /* background-color: #2f2f2f; */
    margin: 0px 10px;
}


h3, h5 ,p{
    margin: 4px 10px;
}