@import url('../css/main.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Raleway';
}

body{
    width: 100%;
    text-decoration: none;
    color: var(--text-color-primary);
}

.title{
    font-size: 35px;
    padding: 20px;
    font-weight: 900;
    font-family:'Galey';
}

.search-bar{
    padding: 15px;
    margin: 0px 50px;
    font-size: 25px;
    background-color: var(--bg-secondary);
    color: var(--text-color-secondary);
    border: none;
    border-radius: var(--border-radius-medium);
}

.switch-toggle{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    padding: 20px;
    font-weight: 900;
    font-family:'Galey';
    width: calc(100% - 240px);
    justify-content: center;
    border-radius:var(--border-radius);
}

.switch-toggle a{
    width: fit-content;
}

.group{
    background-color: var(--primary);
    color: var(--text-color-primary);
    border-radius:var(--border-radius-medium);
    font-family:'Galey';
    margin: 10px;
    padding: 15px;
}

#timeline{
    display: flex;
    flex-direction: column;
    width: calc(100% - 240px);
    overflow-y: scroll;
}

.entry-display{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 15px;
}
/* .monthlyView{
    flex-direction: column;
} */

/*          === Monthly View ===          */

.month{
    padding: 15px;
}

.month-name {
    font-family: 'Galey';
    font-weight: 700;
    font-size: 30px;
    margin: 10px;
}

.month-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap:wrap;
}

/*          === Weekly View ===          */

.week{
    padding: 10px;
    min-width: 200px;
    max-width: 200px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.week-name {
    font-family: 'Galey';
    font-weight: 700;
    font-size: 30px;
    margin: 0px;
}

.week-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap:wrap;
    min-height:min-content;
}

/*          === Entries ===          */

.month-container a
,.week-container a{
    color: var(--text-color-primary);
    text-decoration: none;
}

.entry-container{
    width: 420px;
    height: 200px;
    border: solid gray 1px;
    border-radius: 10px;
    /* background-color: var(--grey-dark); */
    margin: 10px;
    background-color: var(--bg-secondary);
    border:none;
}

/*      === Weekly ===      */

.week-container .entry-container{
    min-width: 180px;
    max-width: 180px;
    height: 180px;
    margin: 10px 0px;
    border:none;
}

.week-container .entry-title{
    font-size: 20px;
}

.week-container .entry-content{
    max-height: 3.6rem;
    -webkit-line-clamp: 3;
    height: 3.6rem;
}

.week-container .entry-info{
    flex-direction: column;
    padding: 4px;
}

/*      === Monthly ===      */

.entry-title {
    font-size: 30px;
    padding: 10px 20px;
    font-family:'Galey';
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.entry-content{
    margin: 6px 20px;
    line-height: 1.2rem;
    max-height: 6rem;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    height: 5rem;
}

.entry-info {
    display: flex;
    padding:5px;
    justify-content: space-between;
}

.entry-tags{
    margin: 0px 5px;
    font-weight:700;
    display:flex;
}

.tag{
    background-color: var(--time-tag-bg);
    color: black;
    text-align:center;
    width: fit-content;
    min-width: 75px;
    margin: 0px 5px;
    padding: 5px 5px;
    border-radius: var(--border-radius-pill);
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: 12px;
}

.no-tag{
    margin: 0px 5px;
    padding: 0px 5px;
    font-size: 12px;
}

.entry-date{
    margin: 5px 15px;
    font-weight:700;
    font-size: 12px;
}

h3, h5 ,p{
    margin: 4px 10px;
    font-family: 'Galey';
}

@media screen and (max-width: 390px) {
    #sidebar-container{
        min-width: 150px;
    }
    #timeline{
        width: calc(100% - 150px);
    }
    .group{
        
    }
}