@import url('../css/main.css');

* {
    font-family: Raleway;
    box-sizing: border-box;
}

#view-entry-container {
    padding: 30px;
    color: var(--text-color-secondary);
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: scroll;
    width: 100%;
}

#view-entry-top {
    display: flex;
    justify-content: space-between;
}

#view-entry-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#view-entry-details > #entry-title {
    font-size: 32px;
    color: var(--text-color-primary);
}

#view-entry-details > #details-row {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

#view-entry-details > #details-row > #entry-tags {
    display: flex;
    gap: 10px;
}

#view-entry-details > #details-row > #entry-created,
#view-entry-details > #details-row > #entry-location,
#view-entry-details > #details-row > #entry-weather {
    display: flex;
    gap: 5px;
    align-items: center;
}

.tag {
    padding: 6px 10px;
    background-color: var(--tag-bg);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1c1a19;
}

#view-entry-edit {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

#view-entry-edit > #edit-btn {
    padding: 4px 10px;
    background-color: #9673F5;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    gap: 5px;
    align-items: center;
    transition: background-color 0.3s;
}

#view-entry-edit > #edit-btn:hover{
    background-color: var(--primary-light);
}

#view-entry-edit > #edit-btn:active {
    background-color: var(--primary-dark);
}

#view-entry-edit > #view-entry-edited {
    color: var(--text-color-secondary);
    font-size: 14px;
    font-weight: 500;
}

#view-entry-photos {
    width: 100%;
    display: flex;
    gap: 20px;
}

#view-entry-photos > .img-container
{
    /*max-width: 30%;*/
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 15px;
    overflow: clip;
}

#view-entry-photos > .img-container > img {
    width: 100%;
}

#view-entry-text-content {
    padding: 0 20px 20px 20px;
    background-color: var(--bg-secondary);
    border-radius: 15px;
    white-space: pre-line;
    font-size: 15px;
}